<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maersk.common.dao.mapper.TinyberSessionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tiny.store.mysql.entity.TinyberSession">
        <id column="id" property="id" />
        <result column="u_id" property="uId" />
        <result column="account" property="account" />
        <result column="channel_id" property="channelId" />
        <result column="device_id" property="deviceId" />
        <result column="host_ip" property="hostIp" />
        <result column="channel" property="channel" />
        <result column="device_type" property="deviceType" />
        <result column="client_version" property="clientVersion" />
        <result column="system_version" property="systemVersion" />
        <result column="bind_time" property="bindTime" />
        <result column="longitude" property="longitude" />
        <result column="latitude" property="latitude" />
        <result column="location" property="location" />
        <result column="state" property="state" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, u_id, account, channel_id, device_id, host_ip, channel, device_type, client_version, system_version, bind_time, longitude, latitude, location, state
    </sql>

</mapper>
