<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.maersk.common.dao.mapper.TinyberGroupMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tiny.store.mysql.entity.TinyberGroup">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="summary" property="summary" />
        <result column="category" property="category" />
        <result column="founder" property="founder" />
        <result column="create_date" property="createDate" />
        <result column="modify_date" property="modifyDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, summary, category, founder, create_date, modify_date
    </sql>

</mapper>
